#display {
  width: 320px;
  height: 60px;
  text-align: right;
  background-color: grey;
  color:white;
  font-size: 18px;
  left: 2px;
  top: 2px;
  
}
.btnTop{
  color:black;
  background-color:white;
  font-size: 15px ;
  margin: auto;
  width: 80px;
  height: 25px;