h1{
  text-align: left; 
   color: white;
}

header{
    background-image: url("library.jpeg");
    height:200px;
}

section{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 100%;
}

article{
    background-color: burlywood;
    height: 500px;
    width: 300px;
   
    }


h5{
    color: white;
    text-align: center;
    padding-top: 35px;
}
footer{
     background-color: black;
     height: 100px;
}

.list1{
     line-height: 50px;
}
.list2{
     line-height: 50px;
}
